.clock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  color: black;
  user-select: none;
}

hr {
  border: 0;
  border-bottom: 1px solid #444;
}

#hours, #minutes, #seconds {
  margin: 0;
  text-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.5), 
               1rem 0.5rem 3rem rgba(0, 0, 0, 0.3);
}
#hours, #minutes, #seconds {
  display: inline-block;
}
#date {
  font-size: 3vw;
  margin: 0 0 2rem 0;
}
#hours, #minutes {
  font-size: 10vw;
  font-weight: 300;
}
#seconds {
  font-size: 6vw;
  font-weight: 100;
}